{include file="public/header" /}
</head>
<div class="layui-card-body layui-form">
    <div style="padding-bottom: 10px;">
        <a href="/admin/role/role_add" class="layui-btn layui-btn-sm" >
            <i class="layui-icon layui-icon-add-1"></i>
            添加管理员角色
        </a>
    </div>
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="100">
            <col width="200">
            <col width="100">
            <col width="100">
            <col width="250">


        </colgroup>
        <thead>
        <tr>
            <th>角色名称</th>
            <th>描述</th>
            <th>状态</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="role" id="vo"}
        <tr>
            <td >{$vo.name} </td>
            <td>
                {if condition="($Think.session.admin['id']==1) "} 拥有所有权限
                {else /}
                {$vo.des}
                {/if}

            </td>
            <td>
                <input type="checkbox" {$vo.status? '' :'checked'} name="status" disabled lay-skin="switch" lay-text="启用|禁用">
            </td>
            <td>{$vo.order}</td>
            <td>
                {if condition="($vo.id==1) "}
                <a class="layui-btn layui-btn-xs layui-btn-disabled" >
                    <i class="layui-icon layui-icon-edit"></i>编辑
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled">
                    <i class="layui-icon layui-icon-delete"></i>删除
                </a>

                {else /}
                <a class="layui-btn layui-btn-xs" href="/admin/role/role_edit?id={$vo.id}">
                    <i class="layui-icon layui-icon-edit"></i>编辑
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" onclick="del('/admin/role/del',{$vo.id})">
                    <i class="layui-icon layui-icon-delete"></i>删除
                </a>
                {/if}

            </td>
        </tr>
        {/volist}
        </tbody>
    </table>

</div>

{include file="public/js"}

</body>
</html>

