{include file="public/header" /}
<!--<link rel="stylesheet" href="/static/admin/css/goods_style.css" media="all">-->
</head>
<body>

<form id="menu_add" class="layui-form" style="padding: 20px 20px 60px 0;" method="post" enctype="multipart/form-data">

    <div class="layui-form-item">
        <label class="layui-form-label">商品分类</label>
        <div class="layui-input-inline">
            <select name="c_id" >
                <option value="{$goods.cates['id']}">{$goods.cates['name']}</option>
                {volist name="cate" id="vo"}
                <option value="{$vo.id}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline">
            <input type="text" name ="name" lay-verify="required" value="{$goods.name}" autocomplete="off" class="layui-input">
            <input type="hidden" name ="id" lay-verify="required" value="{$goods.id}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品主图</label>
        <button type="button" class="layui-btn" id="img">
            <i class="layui-icon">&#xe67c;</i>修改图片
        </button>
        <img src="{$goods.imgs['img']}" id="pre_img" height="40">
        <input type="hidden" name="img" value="{$goods.imgs['id']}">
        <input type="hidden" name="img_id" value="{$goods.imgs['id']}">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品份量</label>
        <div class="layui-input-block">
            <input type="checkbox" name="fenliang" {$goods.fenliang ?'':'checked'}  lay-skin="switch" lay-text="可选|不可选">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品价格</label>
        <div class="layui-input-inline">
            <input lay-verify="number" type="text" name="price" value="{$goods.price}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图</label>
        <div class="layui-input-block">
            <input type="checkbox" name="is_banner" {$goods.is_banner ?'':'checked'}  lay-skin="switch" lay-text="是|否">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">热卖</label>
        <div class="layui-input-block">
            <input type="checkbox" name="is_hot" {$goods.is_hot ?'':'checked'}  lay-skin="switch" lay-text="是|否">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">大份价格</label>
        <div class="layui-input-inline">
            <input lay-verify="number" type="text" name="d_price" value="{$goods.d_price}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">小份价格</label>
        <div class="layui-input-inline">
            <input lay-verify="number" type="text" name="x_price" value="{$goods.x_price}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">口味</label>
        <div class="layui-input-block">
            <input type="checkbox" name="kouwei" {$goods.kouwei ? '' : 'checked'}  lay-skin="switch" lay-text="可选|不可选">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="order"  value="{$goods.order}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品状态</label>
        <div class="layui-input-block">
            <input type="checkbox" name="status"  {$goods.status ? '' : 'checked'} lay-skin="switch" lay-text="有货|无货">
        </div>
    </div>
    <div style="padding-bottom: 10px;text-align: center">
        <button type="button" class="layui-btn" lay-submit lay-filter="add_a" >修改</button>
        <a href="/admin/goods/index"  class="layui-btn" >取消</a>
        <a href="/admin/goods/detail?id={$goods.id}" class="layui-btn" >添加详情图</a>
    </div>

</form>
{include file="public/js"}
<!--<script src="/static/admin/js/goods.js"></script>-->

</body>
<script>
    layui.form.on('submit(add_a)',function (data) {
        // console.log(data.field);
        if (data.field.status == undefined) {
            data.field.status = 1;
        }else {
            data.field.status = 0;
        }
        if (data.field.fenliang == undefined) {
            data.field.fenliang = 1;
        }else {
            data.field.fenliang = 0;
        }
        if (data.field.kouwei == undefined) {
            data.field.kouwei = 1;
        }else {
            data.field.kouwei = 0;
        }
        if (data.field.is_banner == undefined) {
            data.field.is_banner = 1;
        }else {
            data.field.is_banner = 0;
        }
        if (data.field.is_hot == undefined) {
            data.field.is_hot = 1;
        }else {
            data.field.is_hot = 0;
        }

        $.ajax({
            url:'/admin/goods/edit/',
            data: data.field,
            type:'POST',
            dataType:'json',
            success:function (res) {
                layer.msg(res.msg,{icon:1});
                setTimeout(function(){parent.window.location.reload();},1000);
            },
            error:function (res) {
                //console.log(res.responseJSON.msg)
                layer.alert(res.responseJSON.msg,{icon: 2});
                return false;
            }
        });
    })
    layui.upload.render({
        elem: '#img'
        ,url: '/admin/category/upload'
        ,accept:'images'
        ,done: function(res, index, upload){ //上传后的回调
            $('#pre_img').attr('src',res.img);
            $('input[name="img"]').val(res.img);
        }
        ,error:function (res) {

        }

    })

</script>
</html>

